black==24.4.2
click==8.1.7
configmypy==0.1.0
exceptiongroup==1.2.1
iniconfig==2.0.0
mypy-extensions==1.0.0
neuraloperator==0.3.0
nose==1.3.7
numpy==1.24.4
opt-einsum==3.3.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
pluggy==1.5.0
pytest==8.2.0
pytest-mock==3.14.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scipy==1.10.1
tensorly==0.8.1
tensorly-torch==0.4.0
tomli==2.0.1
typing_extensions==4.11.0
